/* /* seletor{
    propriedade: valor;



} */



/* p{
    color: red;
}

seletor{
    propriedade: valor;
}

 seletor{
    propriedade: valor;
}

seletor{
    propriedade: valor;
}

seletor{
    propriedade: valor;
}

seletor{
    propriedade: valor;
}

seletor{
    propriedade: valor;
}

seletor{
    propriedade: valor;
}
 seletor{
    propriedade: valor;
 }

  seletor{
    propriedade: valor;
  } */


  .red{
    color: crimson;
  }


